@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lobster&family=Shadows+Into+Light&display=swap");

/* Light Mode Colors */
:root {
  --bg-color: #fafafa; /* Background color */
  --text-color: #00091e; /* Text color */
  --primary-color: #91abe8; /* Primary color */
  --secondary-color: #ccdbff; /* Secondary color */
  --accent-color: #2b5ed4; /* Accent color */
}

/* Dark Mode Colors */
body.dark-mode {
  --bg-color: #050505; /* Background color in dark mode */
  --text-color: #fafafa; /* Text color in dark mode */
  --primary-color: #91abe8; /* Primary color in dark mode */
  --secondary-color: #191924; /* Secondary color in dark mode */
  --accent-color: #809ee5; /* Accent color in dark mode */
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

/* Body styles */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Quicksand", sans-serif;
}

/* Header styles */
header {
  width: 100%;
}

/* H1 styles */
.title-logo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Dancing Script", cursive;
  font-size: 50px;
  margin: 0;
  padding: 20px 0;
}

/* Rounded horizontal rule styles */
.rounded {
  width: 100%;
  height: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 20px;
  background: var(--secondary-color);
}

/* Navbar styles */
.navbar {
  display: flex;
  background-color: var(--secondary-color);
  color: var(--accent-color);
  align-items: center;
  padding: 20px;
  gap: 40px;
}

/* Navbar toggle button styles */
.nav-toggle {
  font-size: 20px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: var(--accent-color);
}

/* Navbar list styles */
.nav-list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 20px;
}

/* Navbar link styles */
.nav-list li a {
  vertical-align: middle;
  color: var(--text-color);
  text-decoration: none;
}

.nav-list li .navbar-icon {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

/* Dark mode button styles */
.dark-mode-btn {
  display: flex;
  align-items: center;
  background-color: var(--secondary-color);
  color: var(--accent-color);
  border: none;
  padding: 6px 10px;
  cursor: pointer;
  font-size: 14px;
}

/* Dark mode icon styles */
.dark-mode-icon {
  font-size: 18px;
  margin-right: 6px;
}

/* Dark mode label styles */
.dark-mode-label {
  display: inline;
}

/* Dark mode button hover effect */
.dark-mode-btn:hover {
  opacity: 0.8;
}

/* Button styles */
.btn {
  width: 10px;
  height: 10px;
  border: 2px solid var(--secondary-color);
  border-radius: 50%;
  margin: 5px;
}

/* Active button styles */
.btn.active {
  background: #333;
}

/* Content styles */
.content {
  padding: 20px;
}


/* Card content styles */
.card-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px; /* Smaller padding */
}


.disclaimer-text {
  position: relative;
  text-align: center;
  text-align-last: center;
  max-width: 100%;
  margin: 0 auto;
  margin: 20px 20px;
}

.disclaimer-text p:nth-child(2) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  margin-top: 10px;
  white-space: nowrap;
  padding-top: 50px;
  margin-bottom: 50px;
}

.disclaimer-text p:nth-child(3) {
  padding-top: 10px;
  margin-top: 20px;
  font-size: 14px;
  text-align: center;
}


.card {
  width: 20%;
  margin: 0 40px;
  padding: 16px;
  box-sizing: border-box;
  background-color: var(--secondary-color);
  border-radius: 4px;
  margin-bottom: 20px;

}

.card img {
  width: 100%;
  height: auto;
}

.card h2 {
  margin-top: 0;
  color: var(--text-color);
}

.card p {
  margin-top: 10px;
  margin-bottom: 10px;
}

@media screen and (max-width: 600px) {
  .card {
    width: 100%;
    margin-bottom: 20px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .nav-list {
    display: none; /* Hide navigation list on mobile */
  }

  .nav-toggle {
    display: block; /* Show the nav toggle button on mobile */
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }

  .navbar img {
    width: 30px;
    height: 30px;
  }

  .card {
    width: 100%;
    margin: 1rem auto;
  }

  .rounded {
    display: none; /* Hide the horizontal rule with rounded styling on mobile */
  }

  /* Adjust font sizes and paddings for better mobile experience */
  body {
    font-size: 16px;
  }

  .title-logo {
    font-size: 24px;
  }

  .disclaimer-text {
    padding: 1rem;
  }

  .card h2 {
    font-size: 18px;
  }

  .card p {
    font-size: 14px;
  }
}

/* Main slider styles */
.main-slider {
  width: 100%;
  padding: 2rem;
}

/* Slider wrapper styles */
.slider-wrapper {
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  aspect-ratio: 16/9;
  max-height: 500px;
}

/* Slider styles */
.slider {
  display: flex;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
  overflow-y: hidden;
  overflow-x: hidden;
  width: 100%;
}
.slider img {
  flex: 0 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
  width: 100%;
  height: 500px; /* Set a fixed height for the images */
  cursor: pointer;
}
/* Slider navigation styles */
.slider-nav {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  /* Adjust the position based on the height of the slider */
  top: calc(100% - 500px + 1.25rem);
}

/* Slider navigation button styles */
.slider-nav a {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: var(--accent-color);
  opacity: 0.75;
  transition: opacity ease 250ms;
  margin-top: 450px;
}

/* Slider navigation button hover effect */
.slider-nav a:hover {
  opacity: 1;
}


/* Button styles */
.button {
  width: 30px;
  height: 30px;
  background-color: var(--secondary-color);

  color: #fff;
  border: none;
  border-radius: 50%;
  font-size: 16px;
  cursor: pointer;
}

/* Slider navigation styles */
.slider-nav {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  z-index: 1;
  margin-left: 860px;
  margin-top: 220px;
}

.block {
  background-color: var(--secondary-color);
  height: 600px;
  width: 100%; 
  max-width: 1600px; 
  margin-left: 120px;
  border-radius: 10px;
  overflow-x: hidden;/
}

.thanks {
  margin-left: 30px;
  font-size: 70px;
  border-width: 100px;
}

.Supporters li {
  list-style-type: none;
  font-size: 40px;
  margin-left: 20px;
  margin-top: 10px;
}

.boxes {
  display: flex;
}

.firstbox {
  flex: 1;
  border-width: auto;
  max-width: 50%;
  padding: 0 10px; 
  box-sizing: border-box; 
}

.secondbox {
  flex: 1;
  border-width: auto;
  max-width: 50%; 
  padding: 0 10px; 
  box-sizing: border-box; 
}
.bottom{
  height: 100px;
}

